/* Bubble animation styles */
.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bubble {
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  animation: float 6s infinite ease-in-out;
}

.bubble img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Randomized bubble sizes and positions with staggered animations - Dense coverage */
.bubble:nth-child(1) { 
  width: 45px;
  height: 45px;
  top: 20%; 
  left: 5%; 
  animation-duration: 7s;
  animation-delay: 0s;
}

.bubble:nth-child(2) { 
  width: 30px;
  height: 30px;
  top: 40%; 
  left: 80%; 
  animation-duration: 8s;
  animation-delay: 0.5s;
}

.bubble:nth-child(3) { 
  width: 45px;
  height: 45px;
  top: 75%; 
  left: 20%; 
  animation-duration: 6s;
  animation-delay: 1s;
}

.bubble:nth-child(4) { 
  width: 45px;
  height: 45px;
  top: 30%; 
  left: 10%; 
  animation-duration: 7.5s;
  animation-delay: 0.3s;
}

.bubble:nth-child(5) { 
  width: 45px;
  height: 45px;
  top: 60%; 
  left: 75%; 
  animation-duration: 6.5s;
  animation-delay: 0.7s;
}

.bubble:nth-child(6) { 
  width: 50px;
  height: 50px;
  top: 25%; 
  left: 45%; 
  animation-duration: 8.5s;
  animation-delay: 1.2s;
}

/* Additional bubbles for dense coverage */
.bubble:nth-child(7) { 
  width: 48px;
  height: 48px;
  top: 50%; 
  left: 15%; 
  animation-duration: 7s;
  animation-delay: 0.2s;
}

.bubble:nth-child(8) { 
  width: 45px;
  height: 45px;
  top: 25%; 
  left: 70%; 
  animation-duration: 6.8s;
  animation-delay: 0.8s;
}

.bubble:nth-child(9) { 
  width: 50px;
  height: 50px;
  top: 65%; 
  left: 45%; 
  animation-duration: 8.2s;
  animation-delay: 0.4s;
}

.bubble:nth-child(10) { 
  width: 50px;
  height: 50px;
  top: 20%; 
  left: 80%; 
  animation-duration: 6.3s;
  animation-delay: 1.1s;
}

.bubble:nth-child(11) { 
  width: 40px;
  height: 40px;
  top: 55%; 
  left: 50%; 
  animation-duration: 7.7s;
  animation-delay: 0.6s;
}

.bubble:nth-child(12) { 
  width: 80px;
  height: 80px;
  top: 35%; 
  left: 35%; 
  animation-duration: 6.5s;
  animation-delay: 0.9s;
}

.bubble:nth-child(13) { 
  width: 45px;
  height: 45px;
  top: 22%; 
  left: 25%; 
  animation-duration: 7.2s;
  animation-delay: 0.5s;
}

.bubble:nth-child(14) { 
  width: 45px;
  height: 45px;
  top: 42%; 
  left: 25%; 
  animation-duration: 6.7s;
  animation-delay: 0.3s;
}

.bubble:nth-child(15) { 
  width: 45px;
  height: 45px;
  top: 72%; 
  left: 55%; 
  animation-duration: 7.5s;
  animation-delay: 1.0s;
}

.bubble:nth-child(16) { 
  width: 45px;
  height: 45px;
  top: 28%; 
  left: 60%; 
  animation-duration: 6.4s;
  animation-delay: 0.7s;
}

.bubble:nth-child(17) { 
  width: 45px;
  height: 45px;
  top: 48%; 
  left: 65%; 
  animation-duration: 7.8s;
  animation-delay: 0.2s;
}

.bubble:nth-child(18) { 
  width: 45px;
  height: 45px;
  top: 78%; 
  left: 8%; 
  animation-duration: 6.9s;
  animation-delay: 1.1s;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}