::-webkit-scrollbar { 
    width: 6px; 
    height: 6px; 
}
::-webkit-scrollbar-track { 
    background: #0B0F1B; 
}
::-webkit-scrollbar-thumb { 
    background: #374151; 
    border-radius: 3px; 
}
::-webkit-scrollbar-thumb:hover { 
    background: #4B5563; 
}
.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}
.no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}